.boton{
  background-color: #D500F9;
  cursor: pointer ;
  padding: 8px;
  margin: 2px;
}
.boton:hover{
 border: solid 2px gray;
}
.example-form-field {
width: 400px;
height: 80px;
}
.example-full-width {
width: 100%;
}
.Actions{
color: #D500F9;

cursor: pointer ;
margin-left: 2px;
margin-right: 2px;
}