.login-container{
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dfc3df;
  background-image: linear-gradient(26deg, #c9bdc9 0%, #171818 50%);
  height: 100vh;
}

.boton{
  background-color: #D500F9;
  color:white;
  padding: 8px;
  margin: 8px;
  margin-left:15px;
  border-radius: 15px;
  width: 87%;
}
.boton:hover{
 border: solid 2px gray;
}
.example-form-field {
width: 400px;
height: 80px;
}
.example-full-width {
width: 100%;
}

.fondo{
background-size: cover;
height: 100%;
}