<form [formGroup]="userForm" (ngSubmit)="onSubmit()" class="py-5">
    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
        <mat-form-field class="example-form-field">
            <mat-label class="pt-4">Nombre</mat-label>
            <input matInput formControlName="firstName" type="text" class="mx-2">
            <mat-error>{{ userForm.get('firstName')?.errors | validationErrors }}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-form-field">
            <mat-label>Apellido</mat-label>
            <input matInput formControlName="lastName" type="text" class="mx-2">
            <mat-error>{{ userForm.get('lastName')?.errors | validationErrors }}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-form-field">
            <mat-label>Contraseña</mat-label>
            <input [type]="revealPassword ? 'text' : 'password'" formControlName='password' matInput/>
            <button (click)='revealPassword = !revealPassword' matSuffix mat-icon-button >
                <mat-icon>visibility</mat-icon>
            </button>
            <mat-error>{{ userForm.get('password')?.errors | validationErrors }}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-form-field">
            <mat-label>Pais</mat-label>
            <input matInput formControlName="country" type="text" class="mx-2">
            <mat-error>{{ userForm.get('country')?.errors | validationErrors }}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-form-field">
            <mat-label>Correo</mat-label>
            <input matInput formControlName="email" type="email" class="mx-2">
            <mat-error>{{ userForm.get('email')?.errors | validationErrors }}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-form-field">
            <mat-label>Rol</mat-label>
            <mat-select formControlName="rol" class="mx-2">
                <mat-option value="ADMIN">ADMIN</mat-option>
                <mat-option value="USER">USER</mat-option>
            </mat-select>
            <mat-error>{{ userForm.get('rol')?.errors | validationErrors }}</mat-error>
        </mat-form-field>

        <mat-form-field class="example-form-field">
            <mat-label>Comision</mat-label>
            <mat-select formControlName="comision" class="mx-2">
                <mat-option value="JavaScript">JavaScript</mat-option>
                <mat-option value="Vue">Vue</mat-option>
                <mat-option value="Python">Python</mat-option>
                <mat-option value="Pastry">Java</mat-option>
                <mat-option value="React">React</mat-option>
                <mat-option value="Angular">Angular</mat-option>
                <mat-option value="CSS">CSS</mat-option>
                <mat-option value="Figma">Figma</mat-option>
                <mat-option value="SQL">SQL</mat-option>
                <mat-option value="DesarrolloWeb">Desarrollo Web</mat-option>
                <mat-option value="ReactNative">React Native</mat-option>
            </mat-select>
            <mat-error>{{ userForm.get('comision')?.errors | validationErrors }}</mat-error>
        </mat-form-field>
    </div>

    <div class="flex justify-center mt-2 p-10">
        <button mat-button class="boton text-xl">Enviar</button>
    </div>
</form>

